@{
    ViewData["Title"] = "فعالسازی";
}

<div class="container">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">پلتفرم دوره های آنلاین</a></li>
        <li class="breadcrumb-item active" aria-current="page">فعالسازی حساب کاربری</li>
      </ul>
    </nav>
</div>

<div class="container">
    @if (ViewBag.IsActive)
    {
        <div class="alert alert-success">
            <p>حساب کاربری شما با موفقیت فعال شد</p>
            <p>
                <a asp-controller="Account" asp-action="Login">ورود به سایت</a>
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <p>حساب کاربری با مشخصات ارسال شده یافت نشد</p>
        </div>       
    }
</div>