@{
    ViewData["Title"] = "پایان ثبت نام";
}

<div class="container">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">پلتفرم دوره های آنلاین</a></li>
        <li class="breadcrumb-item active" aria-current="page">پایان ثبت نام</li>
      </ul>
    </nav>
</div>

<div class="alert alert-success">
    <h2>کاربر عزیز</h2>
    <p>
        اطلاعات شما با موفقیت ویرایش شد.
    </p>
    <p>
        .به دلیل تغییر ایمیل لطفا مجددا وارد ایمیل جدید خود شوید و حساب کاربری خود را فعال کنید
    </p>
</div>