@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">پلتفرم دوره های آنلاین</a></li>
        <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
      </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        @if(ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success">
                <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
            </div>
        }

        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ForgetPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="link">
                    <a asp-controller="Account" asp-action="Login"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                    <a asp-controller="Account" asp-action="Register"> <i class="zmdi zmdi-account"></i> عضویت در سایت </a>
                </div>

                <button class="btn btn-success"> تایید و ارسال </button>

            </form>
        </div>

    </div>
</main>