@model User

<div style="padding: 0px 900px 0px 0px;">
    <div dir="rtl" style="margin: 80px 10px 0px 100px;">
        <div style="width: 600px; height: 200px; padding: 20px 20px;">
            <h3>کاربر عزیز</h3>
            <p style="font-size: 16px;">به دلیل تغییر ایمیل در پروفایل، لطفا حساب کاربری خود را مجدد فعال کنید<div class=""></div></p>
            <a href="https://localhost:7008/Account/ActiveAccount/@Model.ActiveCode" style="background-color: #1f4a87;
            border: none;
            color: white;
            padding: 15px 32px;
            margin: 0px 150px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;">فعالسازی حساب کاربری</a>
        </div>
    </div>
</div>