@{
    ViewData["Title"] = "درباره";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">پلتفرم دوره های آنلاین</a></li>
            <li class="breadcrumb-item active" aria-current="page"> درباره سایت </li>
        </ul>
    </nav>
</div>

<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> درباره سایت </h2>
            </header>
            <p>
                     این سایت یک پلتفرم برای دوره های آنلاین است که کاربران در آن می توانند دوره مختلف را به سادگی پیدا و مشاهده کنند زیرا که قسمت فیلتر و سرچ سایت به صورت کاملی پیاده سازی شده است.
                     از ویژگی های آن میتوان استفاده از معماری MVC و استفاده از Razor Page ها برای پنل ادمین نام برد.       
                     و علاوه بر معماری تمیز سطوح دسترسی نقش های مختلف نیز در این سایت کنترل شده است.
                     در این سایت کاربر پس از افزودن دوره ها به سبد خرید خود می تواند از کدهای تخفیف استفاده کند و بعد از اعمال تخفیف از طریق شارژ کیف پول که با استفاده از درگاه تست زرین پال پیاده سازی شده است، کیف پول خود را شارژ و دوره ها را خریداری کندو پس از آن فاکتور های خود را در پنل کاربری مشاهده کند.
                   مدرس دوره نیز می تواند با مراجعه به پنل مدرس دوره های خود را کنترل و به روز رسانی کند.
            </p>
        </section>
    </div>
</main>
