@{
    ViewData["Title"] = "ارتباط با ما";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">پلتفرم دوره های آنلاین</a></li>
            <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        <header>
            <h2>راه های ارتباطی</h2>
        </header>

        <div class="form-layer justify-content-center">
            <ul>
                <li>
                    <b>
                        تلفن : 09392906609
                    </b>
                </li>
                <br />
                <li>
                    <b>
                         ایمیل : ParsaDdshi@gmail.com
                    </b>
                </li>
                <br />
                <li>
                    <b>
                        آیدی تلگرام : Parsa_Ddsh
                    </b>
                </li>
            </ul>
        </div>
    </div>
</main>