
@{
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">پلتفرم دوره های آنلاین</a></li>
            <li class="breadcrumb-item active" aria-current="page"> خطای 404</li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="text-center">
        <a class="btn btn-info text-center" asp-controller="Home" asp-action="Index">بازگشت به صفحه اصلی</a>
    </div>
    <br />
    <img src="/errorImg/error.jpg" />
</div>


