@page "{id}"
@model OnlineCoursePlatform.Web.Pages.Admin.Courses.DeleteCourseModel
@{
    ViewData["Title"] = "حذف دوره ";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">حذف دوره</h1>
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="@Model.Course.CourseId" />
    <div class="alert alert-danger">
        آیا از حذف دوره "@Model.Course.CourseTitle" مطمئن هستید؟
    </div>

    <input type="submit" class="btn btn-danger" value="حذف" />
</form>
