@inject IUserService _userService
@inject IPermissionService _permissionService

@{
   UserPanelSideBarViewModel Model = _userService.GetUserPanelSideBarData(User.Identity.Name);
}

<div class="col-md-3 col-sm-4 col-xs-12">
    <aside>

        <div class="avatar-layer">
            <div class="img-layer">
                <a href="" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                <img src="/UserAvatar/@Model.ImageName">
            </div>
            <div class="detail">
                <span> @Model.UserName </span>
                <span> عضویت : @Model.RegisterDate.ToShamsi() </span>
            </div>
        </div>

        <section>
            <header><h3> میز کار </h3></header>
            <div class="inner">
                <ul>
                    <li><a href="/UserPanel"> مشاهده حساب کابری </a></li>
                    <li><a href="/UserPanel/EditProfile"> ویرایش حساب کابری </a></li>
                    <li><a href="/UserPanel/ChangePassword"> تغییر رمز عبور </a></li>
                    <li><a href="/UserPanel/Wallet"> کیف پول من </a></li>
                    <li><a href="/UserPanel/Order"> فاکتورهای من </a></li>
                    <li><a href="/Logout"> خروج از حساب کاربری </a></li>
                </ul>
            </div>
        </section>
        @if (_permissionService.CheckPermission(17, User.Identity.Name))
        {
        <section>
            <header><h3>  پنل مدرس </h3></header>
            <div class="inner">
                <ul>
                    <li><a asp-controller="Master" asp-action="MasterCoursesList"> مدیریت دوره ها</a></li>
                </ul>
            </div>
        </section>
        }
    </aside>
</div>